<div class="gallery">
	<div class="nav-options">
		<h1> IMDb Search Directory</h1>
		<a href="imdb250.html#/list">Search</a>
		<a href="imdb250.html#/gallery">Gallery</a> <br>
	</div>
	<div class="genres" style="margin-top:20px">
		<a class="button tiny" ng-click="genreFilter=''">All</a>
		<a class="button tiny" ng-click="genreFilter='action'">Action</a>
		<a class="button tiny" ng-click="genreFilter='adventure'">Adventure</a>
		<a class="button tiny" ng-click="genreFilter='comedy'">Comedy</a>
		<a class="button tiny" ng-click="genreFilter='crime'">Crime</a>
		<a class="button tiny" ng-click="genreFilter='drama'">Drama</a>
		<a class="button tiny" ng-click="genreFilter='musical'">Musical</a>
		<a class="button tiny" ng-click="genreFilter='mystery'">Mystery</a>
		<a class="button tiny" ng-click="genreFilter='romance'">Romance</a>
		<a class="button tiny" ng-click="genreFilter='sci-fi'">Sci-Fi</a>
		<a class="button tiny" ng-click="genreFilter='thriller'">Thriller</a>
		<a class="button tiny" ng-click="genreFilter='western'">Western</a>
	</div>

	<div class="row">
		<ul class="small-block-grid-8">
			<li ng-repeat="movie in movies | filter: genreFilter">
				<div class="pos"><a href="imdb250.html#/details/{{movie.rank}}"><img src="data/images/{{movie.id}}.jpg"></a></div>
			</li>
		</ul>
	</div>
</div>


<!-- <div>
	<div class="row">
		<div class="columns small-12">
			<ul class="inline-list">
				<li ng-repeat="genre in genres">
					<a class="button" ng-click="genreChange(genre)">{{genre}}</a>
				</li>
			</ul>
		</div>
	</div>
    
	<div class="row">
		<ul class="small-block-grid-4">
			<li ng-repeat="movie in selectedMovies track by $index"  class="animation-fade view-frame">
				<a ng-href="#/detail/{{movie.rank}}"><img ng-src="{{imgSource(movie.imdbID)}}"></a>
			</li>
		</ul>
	</div>
</div> -->